body, html {
    background-color: black;
}

h1, h2 {
    margin: 0;
}

.day-title {
    color: yellow;
    text-shadow: 1px 1px 5px yellow;
    text-align: center;
}

.day__text {
    color: yellow;
    text-align: justify;
    padding: 0 5px;
}

.wrapping {
    height: 100%;
    border: 10px solid yellow;
}

.header {
    background-color: yellow;
    border: 5px solid #000;
    text-align: center;
}

.header__title {
    text-shadow: 1px 1px 5px #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header__title-diary {
    text-shadow: 1px 1px 5px #000;
    margin-bottom: 10px;
}

.day0 {
    border: 5px solid yellow;
    color: yellow;
    text-align: center;
    margin: 0 5px 5px 5px;
}

.day1 {
    border: 5px solid yellow;
    color: yellow;
    text-align: center;
    margin: 0 5px 5px 5px;
}

.day1__list {
    color: yellow;
}

